/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #f6f7fc;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
.container {
  width: 80%;
  margin: auto;
}
.navbar {
  padding: 15px 0;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 10px 6px -6px rgb(122, 121, 121);
  top: 0;
  display: flex;
  justify-content: space-around;
  position: sticky;
  z-index: 2;
}
.navbar .navbar-collapse .navbar-nav {
  display: flex;
  justify-content: end;
}
.navbar .navbar-collapse .navbar-nav .nav-item a.nav-link {
  padding: 10px 12px;
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 15px;
  right: 25px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle span {
  display: block;
  width: 23px;
  height: 3px;
  right: 10px;
  background-color: black;
  border-radius: 5px;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0.8;
  left: -13px;
  top: -9px;
  opacity: 0;
}

/* hambuerger menu */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.content {
  margin-top: 20px;
  padding-bottom: 20px;
}
.port-header {
  margin-top: 40px;
  padding: 10px 0;
  border: 3px solid #f4f3fa;
  background-color: white;
}
.port-header .grid-port {
  display: grid;
  grid-template-columns: 15% 25% 12% auto;
}
.port-header .grid-port .profil-port {
  width: 130px;
  background-color: #f6f7fc;
  height: 150px;
  margin-left: 10px;
  border-radius: 50%;
}
.port-header .grid-port .profil-port img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.port-header .grid-port .data-port {
  margin-top: 15px;
  border-right: 5px solid #f6f7fc;
}
.port-header .grid-port .data-port .nama-port {
  color: black;
  font-size: 20px;
  font-weight: 800;
  font-style: bold;
}
.port-header .grid-port .data-port .position-port {
  color: gray;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
}
.port-header .grid-port .data-port .port-button {
  display: flex;
  margin-top: 30px;
}
.port-header .grid-port .data-port .port-button .btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
}

.port-header .grid-port .data-port .port-button .btn:hover {
  opacity: 0.5;
}

.port-header .grid-port .data-port .port-button .btn-kontak {
  background-color: blue;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.port-header .grid-port .data-port .port-button .btn-resume {
  background-color: white;
  color: green;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid gray;
}

.port-header .grid-port .content-port {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.port-header .grid-port .content-port .judul-port {
  color: black;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  padding-right: 3rem;
}
.port-header .grid-port .content-port .ket-port {
  color: gray;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  padding-right: 3rem;
}

/* fomr portofolio */
.form-port {
  margin-top: 20px;
  display: none;
}
.form-group {
  background-color: white;
  padding-bottom: 15px;
  padding-top: 10px;
}
.form-group label,
.form-group input {
  display: block;
}
.form-group label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 10px;
}
.form-group input[type="text"],
input[type="number"],
input[type="email"] {
  width: 98%;
  height: 1.5rem;
  border: 1px solid #b9b9bb;
  margin-left: 10px;
  padding: 15px 0 15px 10px;
}
.btn-form {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}
.form-port .btn-form .btn {
  text-align: center;
  padding: 8px 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.form-port .btn-form .btn.btn-submit {
  width: 15%;
  background-color: green;
  color: white;
}
.form-port .btn-form .btn.btn-reset {
  width: 15%;
  font-weight: 600;
  margin-right: 10px;
  background-color: rgb(233, 220, 223);
  color: black;
}
.form-port .btn-form .btn.btn-cancel {
  width: 15%;
  margin-right: 10px;
  background-color: blue;
  color: white;
  font-weight: 600;
}
.form-port .btn-form .btn-submit:hover {
  opacity: 0.5;
}

@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 150px;
    transform: translateX(100%);
    transition: all 1s;
    background-color: white;
  }
  .nav-item {
    padding-bottom: 15px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item a.nav-link {
    font-size: 20px;
  }
  .menu-toggle {
    display: flex;
    z-index: 1;
  }
  nav ul.slide {
    transform: translateX(0);
    z-index: 1;
  }
  .container {
    width: 95%;
    margin: auto;
  }
  .port-header .grid-port {
    display: grid;
    grid-template-columns: 35% auto;
  }
  .port-header .grid-port .profil-port {
    width: 100px;
    background-color: #f6f7fc;
    height: 130px;
  }
  .port-header .grid-port .data-port .nama-port {
    font-size: 14px;
  }
  .port-header .grid-port .data-port .position-port {
    font-size: 12px;
  }
  .port-header .grid-port .data-port .port-button,
  .btn-kontak,
  .btn-resume {
    width: 100%;
    display: block;
  }
  .port-header .grid-port .data-port .port-button .btn {
    padding: 5px 0;
    margin-bottom: 10px;
  }
  .port-header .grid-port .data-port .port-button .btn.btn-resume {
    margin: 0;
  }
  .navbar .navbar-collapse .navbar-nav {
    display: flex;
    justify-content: start;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item a.nav-link {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
  }
  .port-header .grid-port .data-port {
    border: none;
  }
  .form-group input[type="text"],
  input[type="number"],
  input[type="email"] {
    width: 90%;
  }
  .btn-form {
    margin-top: 20px;
    display: block;
    /* background-color: red; */
    margin-left: 10px;
    width: 100%;
  }
  /* .form-port .btn-form .btn {
    display: block;
    width: 100%;
  } */
  .form-port .btn-form .btn.btn-reset,
  .form-port .btn-form .btn.btn-submit,
  .form-port .btn-form .btn.btn-cancel {
    display: block;
    margin-bottom: 15px;
    width: 90%;
  }
}
